html, body {
	height: 100%;
}
body {
	padding-top: 50px;
}
#home,
#help,
#about {
	border: none;
	outline: none;
}
/*
.nav .dropdown-menu>li>a:hover,
.nav .dropdown-menu>li>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #428bca;
	outline: 0;
}
*/
#import-fn-dialog .modal-body div,
#export-fn-dialog .modal-body div {
	margin-bottom: 0;
}
#import-fn-error {
	margin-top: 15px;
}
#import-fn-dialog .modal-footer,
#export-fn-dialog .modal-footer {
	margin-top: 0;
}
#import-fn-dialog textarea,
#export-fn-dialog textarea {
	word-break: break-all;
	word-wrap: break-word;
}
#wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
#footer {
	height: 60px;
	background-color: #f5f5f5;
}
#home sup {
	vertical-align: top;
	position: relative;
	top: 0.3em;
	font-size: 0.5em;
}
#config-form {
	padding: 5px 0 0 0;
}
.page {
	padding: 15px;
}
.container .credit {
	margin: 20px 0;
}
#addl-config-btn {
}
/*
.kbd-info {
	padding-top: 7px;
}
#kbd-info {
	color: #2f6f9f;
	border-bottom: 1px dotted #999;
}
*/
#kbd-info {
	width: auto;
}
#notification {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1050;
	width: 100%;
	background-color: #f0ad4e;
	background-image: repeating-linear-gradient( 135deg, transparent, transparent 8px, rgba(0, 0, 0, .8) 8px, rgba(0, 0, 0, .8) 16px );
	box-shadow: 0 4px 3px 0 #000;
}
#notification-inner {
	background: #fcf8e3;
	padding: 3px 0;
	margin: 4px 0;
	text-align: center;
	font-size: 0.8em;
}
.dl-btn {
	margin-bottom: 15px;
}
.dl-btn ~ ul {
	margin-top: -13px;
}
.fn-row {
	float: left;
	padding: 0 2px 0 15px;
}
.fn-action label.checkbox {
	padding-top: 0;
}
.fn-param {
	display: table-cell;
	vertical-align: top;
	padding: 0 15px 0 0;
}
.fn-btn {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px 0 0;
}
.fn-btn .btn {
	color: #9d9d9d;
	border-color: transparent;
	background: inherit;
}
.fn-btn .btn:hover {
	color: #333;
}
.led-row {
	float: left;
	padding: 0 2px 0 15px;
}
.led-param {
	display: table-cell;
	vertical-align: top;
	padding: 0 15px 0 0;
}

.multiselect {
	text-align: left;
}
.multiselect-container {
	max-height: 400px;
	overflow-y: scroll;
}
.multiselect-container input[type="radio"] {
	display: none;
}
.multiselect-container .radio {
	padding-top: 0;
}
.multiselect-container .multiselect-group {
	white-space: nowrap;
}

.multiselect-group {
	text-decoration: underline;
}

.bootstrap-tagsinput {
	width: 100%;
	margin-bottom: 0;
}

.popover{
	max-width: 600px;
	z-index: 2000;
}
.popover-content {
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
}
#layer-info-container .popover {
	max-width: 400px;
}
#layer-info-container .popover ul {
	list-style-type: none;
	width: 360px;
	overflow: auto;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#layer-info-container .popover li.key {
	display: block;
	float: left;
	min-width: 40px;
	height: 40px;
	padding: 4px;
	margin: 0 4px 4px 0;
	border: 1px solid #adadad;
	background-color: #f7f7f7;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	font-size: 0.8em;
	text-align: left;
	vertical-align: top;
}
#layer-info-container .popover li.key:hover {
	background-color: #efefef;
}
#layer-info-container .popover li.key span {
	display: block;
}
#layer-info-container .popover li.key span:empty:before {
	content: "\00a0";
}
#layer-info-container .popover .tooltip-inner {
	text-align: left;
}
#layer-info-container .popover .general {
	white-space: nowrap;
}
#layer-info-container .popover .unknown-label .top-label {
	color: #b94a48;
}
#layer-info-container .popover .label-2-ignored .bottom-label {
	color: #b94a48;
}
#layer-info-container .popover .matrix-map-incorrect-format,.matrix-map-invalid-mapping .top-label {
	color: #b94a48;
}
#kbd-info-container .popover {
	z-index: 2010;
}
#key-info-container .tooltip {
	z-index: 2010;
}

.alert {
	padding: 5px 15px;
}
#available-labels .alert {
	margin-bottom: 10px;
}
#available-labels table tr td {
	padding: 4px 5px;
}
#available-labels table tr td:first-child {
	vertical-align: middle;
	font-size: 90%;
}
#available-labels hr {
	margin: 4px 0;
}
#available-labels code {
	margin: 0 4px 0 0;
	padding: 0 3px;
	border: 1px solid #ddd;
	min-width: 24px;
	min-height: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#available-labels code.low-priority {
	color: #ccc;
}
#kimera-config-inner {
	width: 400px;
	padding: 20px;
}
#kimera-mux .multiselect {
	text-align: center;
}
#kimera-mux .btn-group .btn {
	border-right-width: 0px;
}
#kimera-mux .btn-group:last-of-type .btn {
	border-right-width: 1px;
}
#kimera-mux-error {
	margin-bottom: 0;
	margin-top: 20px;
}
#usb2usb-config-inner {
	width: 400px;
	padding: 20px;
}

span.glyphicon-chevron-down,
span.glyphicon-chevron-up {
	font-size: 0.5em;
	line-height: 3.5;
}

#burn_icon {
	width: 14px;
}
.burn-message-tooltip {
	white-space: nowrap;
	max-width: none;
}

.fa.spin,
.glyphicon.spin {
	animation-name: spin;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: spin;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-filter: blur(0);
}
@-moz-keyframes spin
{
    from { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes spin
{
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin
{
    from { -wekbit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.fa-spin {
	-webkit-filter: blur(0);
}

.chardinjs-helper-layer {
	z-index: 9999999;
	box-sizing: content-box;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#333333;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
